
    <h1>Home</h1>
    <ul>
        <li ng-repeat='video in videos' style="list-style-type:none;float:left;padding:10px;">
            <img src="../images/{{video._id}}.jpg" style="'width:200px;height:200px">
            <br>
            <a href="/#/video/{{video._id}}">
                {{video.title}}
            </a>
            <a href="/#/video/delete/{{video._id}}">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </li>
    </ul>

    <a href="/#/add-video">Add new Video</a>
